<div class = "model_viewer" id = "model_viewer">
	<script src = "js/STLLoader.js"></script>
	<script>

	var scene, camera, renderer;
	var geometry, material, mesh;

	init();
	animate();
	
	function init() {

		scene = new THREE.Scene();
		
		camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 10000 );
		camera.position.z = 1000;

		geometry = new THREE.BoxGeometry( 200, 200, 200 );
		material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: true } );


		//MESH

		mesh = new THREE.Mesh( geometry, material );
		scene.add( mesh );

		//PLANE

		var plane = new THREE.Mesh(
					new THREE.PlaneBufferGeometry( 40, 40 ),
					new THREE.MeshPhongMaterial( { color: 0x100000, specular: 0x101010 } )
				);
				plane.rotation.x = -Math.PI/2;
				plane.position.y = -0.5;
				scene.add( plane );

		renderer = new THREE.WebGLRenderer();
		renderer.setSize( window.innerWidth/2, 400 );

		var loader = new THREE.STLLoader();



		loader.load('/uploads/model/fileurl/15/Jasonball.STL', function (geometry) {
			var mesh = new THREE.Mesh( geometry, material );

			mesh.position.set( 0, 0, 0 );
			mesh.rotation.set( 0, 0, 0 );
			mesh.scale.set( 4, 4, 4 );

			mesh.castShadow = true;
			mesh.receiveShadow = true;

			scene.add( mesh );
		});
		

		document.getElementById("model_viewer").appendChild( renderer.domElement );

	}

	function animate() {

		requestAnimationFrame( animate );

		mesh.rotation.x += 0.02;
		mesh.rotation.y += 0.02;

		renderer.render( scene, camera );

	}

</script>
</div>