<div class = "model_search">
	<div class = "model_search_description"><h6>Search</h6></div>
	<div class = "model_search_bar"></div>
</div>
<div class = "model_list">
	<%= render template: 'models/index', models: @models %>
</div>