<!-- Menu Bar -->

<%= render 'header' %>

<div class = "content">
	<div class = "col-md-6 model_container">
		<%= render 'model_list' %>
	</div>

	<div class = "col-md-6 viewer" style = "padding: 0px">
		<%= render 'model_viewer' %>
	</div>
</div>